.Logo {
  height: 50px;
  width: 50px;
}

html,
body {
  font-family: 'Rubik', sans-serif;
  font-size: 25px;
  overflow-x: hidden;
  margin: auto 0;
}

.copyr {
  height: 110px;
  text-align: center;
  color: white;
  background-color: black;
}
.guidekaartvak {
  width: 100%;
  height: 400px;
  background-color: red;
}
.Guide {
  width: 100%;
  height: 300px;
  background-color: white;
}
.rasp {
  height: 200px;
}
.H-4 {
  margin-left: 34.2%;
  margin-top: 50px;
}


.taal {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  position: relative;
  top: -145px;
  text-transform: none;
}
.taalbut {
  width: 100px;
  margin-left: 5px;
  height:60px;
  transform: translateY(159px) translateX(-140px);
  
}
.temp {
  height: 1500px;
  background-color: white;
}
img.taal {
  width: 50px;
  height: 50px;
  
}

.container {
  overflow: hidden;
  margin-left: 50px;
  margin-bottom: -40px;
}
.title {
  height: 50px;
  background-color: black;
  text-align: left;
  display: flex;
  margin-top: 100px;
  justify-content: center;
  margin-left: -25px;
}
@media (max-width: 550px) {
 .title {
  margin-left: 5px;
  margin-bottom: 20px;
 }
}
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.home {
  height: 100%;
}

.footer {
  background-color: black;
  color: white;
  min-height: 500px;
}

.div-element {
  height: 200px;
}

.foot {
  height: 100%;
}

.pfp {
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 0% 50%;
  margin-top: 80px;
}

.soclink {
  color: white;
  text-decoration: none;
}
.SocialMargin {
  margin-left: -30px;
}

.footerText {
  text-align: center;
}
.space {
  background-color: red;
  
}
.fnaveng {
  left:  35px;
  position: relative;
}
.white {
  height: 100px;
}
.height {
height: 500px;
}
.fnav {
  text-align: left;
  display: flex;
  justify-content: center;
  height: 400px;
  position: relative;
  width: 100%;
  top: 30px;
}
.fnav ul {
  list-style-type: none;
}
.social {
  position: relative;
  top: 0px;
}

.homeText {
  height: 400px;
}

.streep-v {
  height: 410px;
  width: 1px;
  background-color: white;
  margin: 0;
  top: 50%;

  transform: translateY(10%);
}

.logo-foot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(30%);

}

.streep {
  background-color: rgb(21, 140, 186);
  height: 1px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 100px;
}

.projects {
  text-align: center;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}


.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  display: flex;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

.wrapTaal {
  height: 100%;
  width: 100%;
}

@media (max-width: 2185px) {
  .homeText {
    height: 100%;
  }
}
.link {
  text-decoration: none;
  color: white;
}
a:hover {
color:white;
}